.board {
  width: 22em;
  background: linear-gradient(158.53deg, #363E46 -25.92%, #2C343C 82.89%);
  mix-blend-mode: normal;
  box-shadow: -2px -5px 20px rgba(72, 83, 92, 0.35);
  display: flex;
  gap: 0.4em;
  flex-direction: column;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  /* overflow: hidden; */
  position: relative;
}
.board.boardClosed {
  width: 7.5em;
}
.board.boardClosed h1 {
  visibility: hidden;
}
.main {
  overflow-y: scroll;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
  position: sticky;
  top: 0;
}
.header h1 {
  overflow: hidden;
}
.alarms {
  display: flex;
  gap: 0.8em;
  flex-direction: column;
  padding: 1em 1.5em;
}
.addButtonContainer {
  width: 100%;
  height: max(9vh, 5em);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}